{%- for lime in projectFile.lines -%}
{%- if lime.startswith("###") -%}
{%- set proto = projectFile.proto_dict[lime[3:]] -%}
{%- if proto.type == 1 -%}
message {{proto.name}} {
  {%- for field in proto.fields -%}
    {%- if field.field_rule == '' %}
{{field.notes}}
        {%- if field.field_type != '' %}
  {{field.field_type}} {{field.field_name}} = {{field.field_order}};
        {%- endif -%}
    {%- else %}
{{field.notes}}
  {{field.field_rule}} {{field.field_type}} {{field.field_name}} = {{field.field_order}};
    {%- endif -%}
  {%- endfor %}
}
{% else -%}
enum {{proto.name}} {
  {%- for field in proto.fields %}
{{field.notes}}
    {%- if field.field_type != '' %}
  {{field.field_name}} = {{field.field_order}};
    {%- endif -%}
  {%- endfor %}
}
{% endif %}
{%- else -%}
{{lime}}
{%- endif -%}
{%- endfor -%}
